* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  color: #3d3e3d;
  font-size: 13px;
  line-height: 18px;
  position: relative;
}
.container {
  padding:0;
}
/* Header - Navbar */
header {
  background-color: black;
  height: auto;
  font-family: 'Open Sans', sans-serif;
  padding: 16px 0;
}
.navbar-inverse {
  background-color: black !important;
  border-color: black !important;
}
.logo {
  font-size: 14px;
  color: #fff !important;
}
.logo:hover {
  text-decoration: none;
  color: #fff;
}
ul {
  font-size: 14px;
}
li a {
  color: #fff !important;
}
#active {
  border-bottom:1px solid;
}
.icon {
  color: #fff;
  padding-top: 15px;
  padding-left: 13px;
}
/* Image - Banner */
.img-banner {
  width: 100%;
  height: auto;
  position: relative;
}
/* Section */
.article-top {
  padding-top: 80px;
  padding-bottom: 80px;
}
.text-title {
  font-size: 24px;
  text-align: justify;
}
.text-content {
  font-size: 14px;
  text-align: justify;
}
.article-bottom {
  background-color:#f3f3f3;
  padding-bottom: 100px;
}
.text-featured {
  font-size: 24px;
  padding-bottom: 60px;
  padding-top: 80px;
}
.img-articles {
  width: 100%;
  height: auto;
  position: relative;
}
.img-com::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #615f60 100%);
  margin-top: -100px;
  height: 100px;
  width: 100%;
  content: '';
}
.likes {
  position: absolute;
  top: 18px;
  right: 35px;
  border: 2px solid white;
  background-color: #615f60;
  padding: 12px 20px;
  color: #fff;
  font-weight: bold;
}
.date {
  position: absolute;
  bottom: 17px;
  font-size: 18px;
  color: #fff;
  left: 40px;
  z-index: 1;
}
.subcribe {
padding-top: 80px;
padding-bottom: 60px;
background-color: #fff;
margin-top: 50px;
}
.text-letters {
  text-align: center;
  font-size: 24px;
}
.text-sendmail {
  font-size: 14px;
  border: 1px solid;
  padding: 15px 0;
}
.input-subscribe {
  font-size: 14px;
  background-color: #343638;
  padding: 15px 25px;
  color: white;
  border:#343638 1px solid ;
}

/* Footer */
.ctn-footer {
  padding-top: 140px;
  padding-bottom: 100px;
  padding-left: 0;
  padding-right: 0;
  color: #b9b9b9;
  }
.title-footer {
  font-weight: bold;
  font-size: 18px;
  color: black;
}
.last-tweet {
  font-style: italic;
}
.hours {
  color: #dbdbdb;
}
.email-address {
  font-size: 14px;
  border: 1px solid;
  padding: 13px 0;
  font-style: italic;
}
.footer-subscribe {
  font-size: 14px;
  background-color: #343638;
  padding: 13px 0;
  color: white;
  border: 1px solid #343638;
}
.bottom {
  padding-top: 30px;
  border-top: 2px solid #f0f0f0;
  padding-bottom: 20px;
}
.right {
  float: right;
  padding-left: 50px;
}
.copy {
  color: #b9b9b9;
}
@media only screen and (max-width: 770px) {
  .block-footer,.bottom {
      text-align: center;
  }
  .img-articles {
    padding-bottom: 10px;
  }
  .ctn-footer {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  span.icon {
    display: none;
  }
  #active {
    border-bottom:none;
  }
  .navbar-right {
    float: right;
  }
  .img-com::after {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .copy, .bottom{
    text-align: center;
  }
}
